.countries-section {
  margin: 0 auto;
  max-width: 800px;
  overflow-y: scroll;
  height: calc(100vh - 80px);
}

table {
  position: relative;
}
  table thead {
    background-color: #fff;
    position: sticky;
    top: 0px;
    height: 50px;
  }
    table td,
    table th {
      vertical-align: middle;
    }
